# Entornos virtuales
.venv/
venv/

# Archivos compilados de Python
__pycache__/
*.pyc

# Datos crudos CSV (se subirán solo los paquetes .tar.gz)
data/*.csv
data/*.csv.gz

# Archivos temporales
*.swp
*.bak
*.tmp
